@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
* html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gradient-bg-hero {
  background: linear-gradient(to bottom, #3747a3, #fda727);
}



.gradient-bg-artworks {
  background-color: #7f6a76;
  background-image: radial-gradient(
      at 50% 50%,
     #7f6a76(302deg 25% 18%) 0,
      transparent 50%
    ),
    radial-gradient(at 0% 0%, #7f6a76(253, 16%, 7%, 1) 0, transparent 50%),
    radial-gradient(at 50% 50%, #fda727(339, 39%, 25%, 1) 0, transparent 50%);
}

.gradient-bg-footer {
  background: linear-gradient(to bottom, #7f6a76, #fda727);
}

.text-gradient {
  background: -webkit-linear-gradient(#3747a3,#a06204);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text-gradient2 {
  background: -webkit-linear-gradient(#875203,#484f98);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.lds-dual-ring {
  display: inline-block;
}
.lds-dual-ring:after {
  content: ' ';
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/*@tailwind base;
@tailwind components;
@tailwind utilities; */